<div class="bg-gray-900/[0.2] w-1/2 m-auto text-center hover:cursor-pointer hover:shadow-md duration-300
    rounded-full py-2 shadow font-semibold border-4 border-white" (click)="add()">ADD NEW
</div>
<div class="m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illum voluptatem, itaque distinctio
    hic optio architecto mollitia, nam aliquid id debitis nemo. Aliquam sint eaque voluptatibus vel quas obcaecati
    molestias.</div>
<form [formGroup]="searchForm" class="text-sm">
    <input type="text" formControlName="search" #filter (input)="filterResults(filter.value)"
        class="px-4 py-2 w-full border-2 border-gray-200 rounded-full" placeholder="Search contact">
</form>

<mat-spinner diameter="30" *ngIf="loading"></mat-spinner>

<!-- Display error message -->
<div *ngIf="loading && errorMessage">
    <span class="text-red-600">{{errorMessage}}</span>
</div>
<!-- Card design -->
<div class="overflow-auto h-[70vh] mt-4">
    <div *ngIf="!loading && contacts.length > 0" class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
        <div *ngFor="let contact of filteredItems">
            <div class="shadow border-2 border-white">
                <div class="flex justify-end bg-indigo-900/[0.2] gap-2 p-1">
                    <a routerLink="/contacts/view/{{contact.id}}"><i
                            class="material-icons hover:text-rose-600 duration-300 align-middle hover:scale-110 scale-75">remove_red_eye</i></a>
                    <button (click)="edit(contact)"><i
                            class="material-icons hover:text-green-600 duration-300 align-middle hover:scale-110 scale-75">edit</i></button>
                    <button (click)="moveToRecycle(contact.id)"><i
                            class="material-icons hover:text-orange-600 duration-300 align-middle hover:scale-110 scale-75">delete</i></button>
                </div>
                <div class="grid md:grid-cols-3">
                    <div class="md:col-span-1 w-1/2 md:w-full m-auto p-4"><img
                            class="rounded-full hover:scale-105 duration-300" [src]="contact.avatar" alt=""></div>

                    <div
                        class="md:col-span-2 m-4 bg-gray-50 p-4 flex flex-col rounded shadow text-xs text-center self-center ">
                        <div class="font-bold text-gray-400 pb-2 border-b flex flex-col gap-2 md:flex-row">Name: <span
                                class="text-gray-600 text-ellipsis overflow-hidden">{{contact.name}}</span>
                        </div>
                        <div class="font-bold text-gray-400 border-b py-2 flex flex-col gap-2 md:flex-row">Email: <span
                                class="text-gray-600 text-ellipsis overflow-hidden">{{contact.email}}</span></div>
                        <div class="font-bold text-gray-400 pt-2 flex flex-col gap-2 md:flex-row">Mobile: <span
                                class="text-gray-600 text-ellipsis overflow-hidden">{{contact.mobile}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>