<ul class="flex gap-6 justify-between list-none bg-indigo-900/[0.2] mb-2 border-b border-indigo-200 p-1">
    <div class="text-sm md:text-xl font-bold self-center">
        <a routerLink="/" class="">Contact App</a>
    </div>
    <div class="flex items-center">
        <li><button (click)="deletedItems()" matTooltip="Deleted Items" class="flex"><i class="material-icons text-red-600">delete</i></button></li>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Help</a></li>
    </div>
</ul>