<div class="text-center p-6 bg-gradient-to-b from-indigo-50 to-white">
    <p class="font-bold text-xl">{{contactsData ? 'Edit' : 'Add'}} Contact</p>
    <div class="flex flex-col gap-4 md:flex-row">
        <form [formGroup]='contactForm' class="grid gap-4 md:w-1/2 text-xs">
            <input type="text" formControlName="name" placeholder="Name *"
                class="p-2 bg-transparent border-gray-300 border-[1.5px] rounded-md">
            <div>
                <input type="file" #input hidden (change)="onFileSelect($event)">
                <input type="text" formControlName="avatar" (click)="input.click()" placeholder="Photo url *"
                    class="p-2 bg-transparent border-gray-300 border-[1.5px] rounded-md w-full hover:cursor-pointer"
                    matTooltip="Click to upload or paste url">
            </div>
            <input type="email" formControlName="email" placeholder="Email ID *"
                class="p-2 bg-transparent border-gray-300 border-[1.5px] rounded-md">
            <input type="text" formControlName="mobile" placeholder="Mobile *"
                class="p-2 bg-transparent border-gray-300 border-[1.5px] rounded-md">
            <input type="text" formControlName="company" placeholder="Company"
                class="p-2 bg-transparent border-gray-300 border-[1.5px] rounded-md">
            <input type="text" formControlName="title" placeholder="Title"
                class="p-2 bg-transparent border-gray-300 border-[1.5px] rounded-md">
            <select class="p-2 bg-transparent border-gray-300 border-[1.5px] rounded-md" formControlName="groupId">
                <option [value]="group.id" *ngFor="let group of groups" class="text-sm">{{group.name}}</option>
            </select>
            <div class="flex gap-4 justify-center">
                <button type="submit" (click)="submitForm()"
                    class="bg-indigo-900 rounded-md px-10 py-2 font-bold text-white">{{contactsData ? 'Update' :
                    'Create'}}
                </button>

                <button mat-dialog-close class="bg-orange-600 rounded-md px-10 py-2 font-bold text-white">Close</button>
            </div>
        </form>
        <div class="md:w-1/2 p-10 md:p-16 m-4 bg-gradient-to-b from-indigo-100 to-white rounded-full">
            <img class="rounded-full" [src]="imgBoolean ? contactsData?.avatar : selectedFile" alt="">
        </div>
    </div>

</div>